aside.sidebar {
    position: fixed;
    width: clamp(20rem, 22vw, 40rem);
    height: 100%;
    background-color: #FFC120;
    padding: clamp(3rem, 5vw, 8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

aside header {
    display: flex;
    flex-direction: column;
}

aside h2 {
    margin-top: 2.4rem;
    font: 800 clamp(2rem, 5vw, 3.6rem)/1.1 'Alata', sans-serif;
}

aside p {
    margin-top: 2.4rem;
    font: 400 1.8rem/1 'Alata', sans-serif;
}

aside footer p {
    margin-top: .8rem;
}
#icon {
    width: 100px;
}   

aside.sidebar footer button {
    width: 48px;
    height: 48px;
    border: none;
    background: #12AFCB;
    border-radius: 1.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

aside.sidebar footer button:hover {
    background-color: #17D6EB;
}

.with-sidebar {
    padding-left: 110px;
}